
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
</head>
<body>

  <%-include('../layout/header.ejs')%>

<div class="container mt-3">
  <h1 style="margin-top:80px">회원가입</h1>

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="아이디" id="userid">
  </div>

  <div class="input-group mb-3">
    <input type="password" class="form-control" placeholder="패스워드" id="password">
  </div>
  
  	<div class="container" style="text-align:right">
	 
	  <div class="btn-group">
	    
       <button type="button" class="btn btn-primary" id="btnLogin" name="btnLogin">로그온</button>&nbsp;&nbsp;
      
	    <button type="button" class="btn btn-primary" id="btnCancel" name="btnCancel">취소</button>&nbsp;&nbsp;
	  </div>
	</div>
</form>	
</div>

</body>
</html>

<script>
  $(document).ready( ()=>{
    $("#btnLogin").click( ()=>{
      let userid = $("#userid").val();
      let password = $("#password").val();
       $.ajax({
         url: "/member/logincheck",
         data: { userid: userid, password:password },
         method: "post",
         dataType: "json"
       }).then((result) => {
         if (result.result == 'success') {
           alert("로그인 성공입니다.");
         } else {
           alert("로그인 실패입니다.");
         }
       }).catch((res, status, error) => {
         console.log(status);
       });
     });
  });

// function goWrite()
// {
// 	var frm = document.form;
// 	frm.action="/board/save";
// 	frm.submit();
// }

// function goModify()
// {
// 	var frm = document.form;
// 	frm.action="/board/modify_save";
// 	frm.submit();
// }

// function goCancel()
// {
//   var frm = document.form;
// 	frm.action="/board/list";
// 	frm.submit();
// }
</script>